body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: rgb(106, 99, 99);
  color: white;
}

tbody tr:nth-child(even) {
  background: rgb(125, 118, 119);
  color: black;
}

.sort{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sortButton{
  transition: all 0.4s ease-in-out;
}

.sortButton:hover{
  /* transform: scale(.9); */
  background-color: lightgray;
}

.sortButton:active{
  color: white;
  background-color: black;
}

.sortProtein{
  border-left: 1px solid black ;
  border-right: 1px solid black;
}

.sortSugar{
  border-right: 1px solid black;
}

.fontNum{
  text-shadow: 0px 1px 2px black;
}